@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap");
input {
  margin: 0;
}
body {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  --dark-orange: #b43c28;
  background-color: var(--dark-orange);
  --dark-red: #820000;
}

body > form {
  height: 300px;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  padding: 40px 0;
  color: #ffffff;
  font-weight: bold;
  font-size: 30px;
}
form input:not(input[type="radio"]:disabled) {
  appearance: none;
  border: none;
  outline: none;
}
form input[type="text"] {
  background-color: var(--dark-red);
  color: #ffffff;
  width: 300px;
  height: 50px;
  border-radius: 30px;
  padding: 0 20px;
  font: inherit;
}

form input[type="radio"] {
  --input-radio-size: 24px;
  width: var(--input-radio-size);
  height: var(--input-radio-size);
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input[type="radio"]::before {
  content: " ";
  --input-radio-checked-size: calc(var(--input-radio-size) / (24 / 14));
  width: var(--input-radio-checked-size);
  height: var(--input-radio-checked-size);
  border-radius: 50%;
  background-color: #000000;
  transform: scale(0);
}

form input[type="radio"]:checked::before {
  transform: scale(1);
}

form > section {
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
}

@media screen and (max-width: 1140px) {
  section {
    flex-direction: column;
    gap: 80px;
  }
  body > form {
    height: 680px;
  }
  body {
    height: fit-content;
  }
}
section > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

section.game-running :is(label, fieldset) {
  visibility: hidden;
}

section.game-running input[type="text"] {
  text-align: center;
  pointer-events: none;
}

section fieldset {
  display: flex;
  flex-direction: column;
}

fieldset label {
  padding-top: 5px;
  display: flex;
  align-items: center;
  gap: 6px;
}
form > input[type="submit"] {
  width: 200px;
  height: 80px;
  font-size: 40px;
  grid-row: 5;
  justify-self: center;
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
  border-radius: 40px;
}
input[type="submit"]:hover {
  animation: scale-pulse 0.4s ease-in-out 0s infinite alternate;
}

@keyframes scale-pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}

body > main {
  width: 450px;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-red);
  border-radius: 30px;
}
#game-board {
  display: grid;
  --tile-size: 120px;
  grid-template: repeat(3, var(--tile-size)) / repeat(3, var(--tile-size));
  background-color: #000000;
  gap: 5px;
}

#game-board > li {
  background-color: #fadc82;
  display: flex;
  justify-content: center;

  align-items: center;
  font-size: 100px;
  font-weight: 900;
  font-family: "Roboto Mono", monospace;
  user-select: none;
}

#game-board > li:hover:not(.x, .o) {
  background-color: #d2b45a;

  cursor: pointer;
}

li.x::before {
  color: #e60000;
  content: "🞫";
}

li.o::before {
  color: #0000e6;
  content: "⃝";
}
