@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #b43c28;
}
body > main {
  width: 450px;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #820000;
  border-radius: 30px;
}
#game-board {
  display: grid;
  --tile-size: 120px;
  grid-template: repeat(3, var(--tile-size)) / repeat(3, var(--tile-size));
  background-color: #000000;
  gap: 5px;
}

#game-board > li {
  background-color: #fadc82;
  display: flex;
  justify-content: center;

  align-items: center;
  font-size: 100px;
  font-weight: 900;
  font-family: "Roboto Mono", monospace;
  user-select: none;
}

#game-board > li:hover:not(.x, .o) {
  background-color: #d2b45a;

  cursor: pointer;
}

li.x::before {
  color: #e60000;
  content: "🞫";
}

li.o::before {
  color: #0000e6;
  content: "⃝";
}
